extends layout

block content
  header
    nav.navbar.navbar-default.navbar-fixed-top
      div.container
        div
          button(data-toggle="collapse" data-target="#navbar").navbar-toggle.collapsed
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        div.collapse.navbar-collapse#navbar
          ul.nav.navbar-nav
            li
              a(href= "/").text-uppercase Flights
            li
              a(href= "/statistics").text-uppercase Statistics
          ul.nav.navbar-nav.navbar-right
            li.active
              a(href= "/about").text-uppercase About
  div.main.container
    h1= title
    div
      p This page was made as a final project in a web programming course at the University of Iceland. It was made over the course of 5 days at the end of November 2016.
    div
      h2 Creators
      p Gústaf Halldór Gústafsson and Jón Daði Jónsson
    div
      h2 Technology
      p We used Node.js as our development platform, with Express as our web application framework and using Axios for http requests.
      p Flight data is retrieved from #[a(href="https://apis.is") https://apis.is]
      p Styling is done with Twitter Boostrap.
      p The #[a(href="http://www.chartjs.org/") Chart.js] library is used for creating the graphs in the statistics section.
      p The iframe holding the map is linked to #[a(href="https://www.flightradar24.com/") flightradar24.com] with filters showing only traffic inbound/outbound to/from Keflavík.
    div
      h2 Functionality
      p
