extends layout

block content
  header
    nav.navbar.navbar-default.navbar-fixed-top
      div.container
        div
          ul.nav.navbar-nav
            li
              a(href= "/") Flights
            li.active
              a(href= "/statistics") Statistics
  h1 Flight Statistics
