extends layout

block content
  header
    nav.navbar.navbar-default.navbar-fixed-top
      div.container
        div
          button(data-toggle="collapse" data-target="#navbar").navbar-toggle.collapsed
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        div.collapse.navbar-collapse#navbar
          ul.nav.navbar-nav
            li
              a(href= "/").text-uppercase Flights
            li.active
              a(href= "/statistics").text-uppercase Statistics
          ul.nav.navbar-nav.navbar-right
            li
              a(href= "/about").text-uppercase About
  div.container
    h1 Flight Statistics
    div.graphWrapper
      canvas#myDepChart
    div.graphWrapper
      canvas#myArrChart
    div.graphWrapper
      canvas#myDepOnTimeChart
    div.graphWrapper
      canvas#myArrOnTimeChart
    div.graphWrapper
      select(id="airlSelectArr", name="Airline_selection")
      input(id="arrNumDays" type="number", min="0", max="30", step="1", value="0")
      button(id="arrivalsBtn" type="button") Get Data!
      h4 Choose an airline and select how many days of data you wish to plot (arrival delay)
      canvas#myArrDelPerDayAirline
    div.graphWrapper
      select(id="airlSelectDep", name="Airline_selection")
      input(id="depNumDays" type="number", min="0", max="30", step="1", value="0")
      button(id="departureBtn" type="button") Get Data!
      h4 Choose an airline and select how many days of data you wish to plot (departure delay)
      canvas#myDepDelPerDayAirline
  script(type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
  script(type='text/javascript' src='javascript/libs/Chart.js')
  script(type='text/javascript' src='javascript/charts.js')
